* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

:root {
    --primary-color:#b78c59;
    --grey: #adadad;
    --grey-light: #e6e6e6;
    --grey-dark: #4e4b4b;
    --black: #000000;
    --white: #ffffff;
    --white-medium: #f7f7f7;
    --black-mask: rgba(0,0,0,.5)
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    overflow-x: hidden;
}

body, input, textarea, button {
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    display: inline-block;
}

ul, li {
    list-style: none;
}

/* Menu */
header {
    height: 9rem;

    background-color: var(--black);
}

.header {
    max-width: 115rem;
    height: 100%;

    margin: auto;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: transparent;
}

/* Logo */
.header .logo{
    width: 5rem;
    height: 5rem;
    border-radius: 3rem;
    background-color: var(--primary-color);
    /* Temporário */
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4rem;
    font-weight: 500;

    margin-left: 5rem;

}

/* Menu de navegação */
.menu-opener {
    cursor: pointer;
    display: none;
}
.header .menu {
    height: 100%;
}
nav {
    transition: all 5s;
}
.menu nav ul{
    display: flex;
    gap: 1rem;

    margin-right: 5rem;

    text-transform: uppercase;
}
.menu nav a{
    height: 9rem;
    
    display: flex;
    align-items: center;

    color: var(--white);
    font-size: 1.3rem;
    font-weight: 500;

    border-bottom: solid 5px transparent;
    
    transition: .3s;
}
.menu nav a:hover,
.menu nav a.active {
    color: var(--white-medium);
    border-bottom: solid 5px var(--primary-color);
}

/* Banner and Sliders*/
.banner {
    width: 100vw;
    height: calc(100vh - 9rem);

    background-image: url('/assets/images/bg.jpg');
    background-size: cover;
    background-position: bottom;

    overflow: hidden;
}
.banner .sliders {
    width: calc(4 * 100vw);
    height: 100%;
    /* display: flex; -> Ao invés de utilizar o inline-block no .banner .slide*/
    margin-left: -00vw; /* -> Propriedade que faz a troca do slide */
}
.banner .slide {
    width: 100vw;
    height: 100%;

    display: inline-block;  

    background-color: rgba(0, 0, 0, 0.7);
}

/* Conteúdo do slide */
.banner .slidearea {
    height: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    color: var(--white);
    text-transform: uppercase;

    text-align: center;
}
.banner .slidearea h1 {
    font-size: 4.5rem;
    font-weight: 800;
    margin-bottom: 1rem;
}
.banner .slidearea h1 span {
    color: var(--primary-color);
}
.banner .slidearea h2 {
    font-size: 1.5rem;
    margin-bottom: 3rem;
}
.banner .slidearea a {
    height: 4.5rem;
    width: 20rem;

    line-height: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-color);
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 600;

    border-radius: 2rem;
}
.banner .slidearea a:hover {
    filter: brightness(.9);
}

/* Slider pointers */
.banner .slider-pointers {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;

    position: absolute;
    bottom: 5rem;
}

.banner .pointer {
    width: 1.5rem;
    height: 1.5rem;

    border-radius: 1rem;

    border: 2.5px solid var(--primary-color);

    cursor: pointer;
}
.banner .pointer:hover {
    filter: brightness(.85);
}
.banner .pointer.active {
    background-color: var(--primary-color);
}

/* SECTION */
.default {
    padding: 5rem 2rem;
}

.default .section-title,
.default .section-desc {
    font-weight: 700;
    
    text-align: center;
    text-transform: uppercase;
}

.default .section-title {

    font-size: 2.7rem;
}
.default .section-desc {
    font-size: 1.3rem;

    color: var(--grey);
    margin-top: .8rem;
    margin-bottom: 4rem;
}

.default .section-body {
    max-width: 115rem;
    margin: auto;
}

/* TEMAS */
.default.dark {
    background-color: var(--black);
}
.default.default.dark .section-title {
    color: var(--white);
}

.default.light {
    background-color: var(--white-medium);
}
.default.light .section-title {
    color: var(--black);
}







/* ÁREAS ESPECIAIS */

/* About Us */
.section-aboutus {
    display: flex;
}
.section-aboutus .left {
    flex: 1;
    line-height: 2.9rem;
}
.section-aboutus .right {
    padding: 0 1.5rem;
    width: 48rem;
}
.section-aboutus .right img {
    width: 100%;
    height: auto;

    border-radius: .5rem;

    box-shadow: 4px 7px 10px var(--black-mask);
}
/* Services */
.section-services {
    display: flex;
    flex-wrap: wrap;
}
.section-services .service {
    color: var(--white);
    flex: 1;

    text-align: center;

    padding: 2rem 2rem;

    border-right: solid 2px var(--grey-dark);
}
.section-services .service:first-child {
    border-left: solid 2px var(--grey-dark);
}
.section-services .service h4 {
    text-transform: uppercase;

    margin-top: 4rem;
    margin-bottom: 1.3rem;

    font-size: 2rem;
}
.section-services .service p {
    font-size: 1.6rem;
    line-height: 2.8rem;

    color: var(--grey);
}
/* Projects */
.section-projects {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-projects--filters {
    background-color: #ebebeb;
    display: inline-block;

    border: solid 1px var(--grey);
    border-radius: 3rem;

    padding: 0 3rem;
}
.section-projects--filters ul li {
    display: inline-block;

    border-left: 1px solid var(--grey);

    padding: 0rem .7rem;
    cursor: pointer;
}
.section-projects--filters ul li:first-child {
    border-left: none;
}
.section-projects--filters ul li span {
    display: inline-block;

    font-size: 1.5rem;
    text-transform: uppercase;

    padding: 1.6rem;

    border-bottom: 4px solid #ebebeb;
}
.section-projects--filters ul li span:hover,
.section-projects--filters ul li span.active {
    border-bottom: 4px solid var(--primary-color);
}


.section-projects--photos {
    margin: 2rem 0 3rem;
    width: 100vw;
    max-width: 115rem;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.section-projects--photo {
    width: 28rem;
    height: 18rem;

    display: flex;
    justify-content: center;
}
.section-projects--photoarea {
    width: 26rem;
    height: 16rem;

    margin: 2rem;
    
    cursor: pointer;

    border-radius: 1rem;

    transition: transform .3s;
}
.section-projects--photoarea img {
    box-shadow: 0px 5px 10px var(--black-mask);
    
    border-radius: 1rem;

    width: inherit;
    height: inherit;
}
.section-projects--photoinfo {
    border-radius: 1rem;

    display: none;
    
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;

    position: absolute;

    width: inherit;
    height: inherit;
    
    color: var(--white);
    background-color: var(--black-mask);
}
.section-projects--photoinfo h1 {
    font-weight: 600;
    font-size: 2rem;

    text-transform: uppercase;

    margin-bottom: 1rem;
}
.section-projects--photoinfo p {
    font-size: 1.5rem;
    line-height: 2.5rem;
}
.section-projects--photoinfo p::first-letter {
    text-transform: uppercase;
}
.section-projects--photoarea:hover {
    transform: scale(1.1);
}
.section-projects--photoarea:hover .section-projects--photoinfo{
    display: flex;
}
/* Team */
.section-team--area {
    background-color: rgba(0, 0, 0, .8);
    padding: 5rem;
}
.section-team {
    max-width: 88rem;

    margin: auto;

    overflow: hidden;
}
.section-team--sliders {
    display: flex;

    width: calc(4 * 100vw);
    height: 100%;

    margin-left: -00px; /* -> Propriedade que faz a troca do slide */
}
.section-team--slide {
    width: 28rem;
    margin-right: 2rem;

    border-radius: 1rem;
    background-color: var(--white);

    display: flex;
    justify-content: center;

}
.section-team--slidearea {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 5rem;
}
.section-team--name {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .7rem;
    margin: 3rem 0;
}
.section-team--name h3 {
    text-transform: uppercase;

    font-weight: 600;
    font-size: 2rem;
}
.section-team--name h6 {
    color: var(--grey);
    letter-spacing: .12rem;

    font-weight: 600;
    font-size: 1.2rem;
}
.section-team--social {
    display: flex;
    justify-content: center;
    gap: 1rem;
    width: 100%;
}
.section-team--socialbox {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 3rem;
    width: 3rem;

    border-radius: 1.5rem;
    background-color: var(--grey);

    transition: background .2s;
}
.section-team--socialbox:hover {
    cursor: pointer;

    background-color: var(--primary-color);
}

.section-team--pointers {
    margin-top: 4rem;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
}
.section-team--pointer {
    width: 1.5rem;
    height: 1.5rem;

    border-radius: 1rem;

    border: 2.5px solid var(--primary-color);

    cursor: pointer;
}
.section-team--pointer:hover {
    filter: brightness(0.8);
}
.section-team--pointer.active {
    background-color: var(--primary-color);
}
/* Enterprises */
.section-enterprises {
    border-top: 2px solid var(--grey);
    border-bottom: 2px solid var(--grey);
    padding: 4rem 0rem;
}

.section-enterprises--body {
    max-width: 115rem;
    margin: auto;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* PRICE */
.section-price {
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}
.section-price--box {
    flex: 1;
    border-radius: 1.5rem;
    background-color: var(--white);
}

.section-price--area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    padding: 4rem;
}
.section-price--infoprice,
.section-price--description {
    text-align: center;
}
.section-price--infoprice {
    text-transform: uppercase;
    margin-bottom: 2rem;
}
.section-price--infoprice h3 {
    font-weight: 600;
    font-size: 2rem;

    margin-bottom: 1rem;
}
.section-price--infoprice h1 {
    font-weight: 700;
    font-size: 3rem;
}
.section-price--infoprice h6 {
    margin-top: .2rem;
    color: var(--grey);
}
.section-price--description {
    color: var(--grey-dark);

    margin-bottom: 3rem;
}
/* Some Facts */
.section-somefacts {
    display: flex;
    flex: 1;

}
.section-somefacts .fact {
    color: var(--white);
    flex: 1;

    text-align: center;

    padding: 2rem 2rem;
}
.section-somefacts .fact h1 {
    color: var(--primary-color);
    font-size: 4.3rem;
}
.section-somefacts .fact h1::after {
    content: '';
    display: block;
    margin: 1rem auto;
    justify-content: center;
    width: 20%;
    height: .5rem;

    background-color: var(--grey);
}
.section-somefacts .fact h4 {
    text-transform: uppercase;

    margin-top: 3rem;
    margin-bottom: 1.3rem;

    font-size: 2rem;
}
.section-somefacts .fact p {
    font-size: 1.6rem;
    line-height: 2.8rem;

    color: var(--grey);
}
/* Social */
.section-social {
    border-top: 2px solid var(--grey);
    border-bottom: 2px solid var(--grey);
    padding: 4rem 0rem;
}
.section-social--body {
    text-transform: uppercase;
    color: var(--grey);

    font-size: 1.3rem;

    max-width: 80rem;
    margin: auto;
    
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.section-social--box {
    display: flex;
    align-items: center;

    gap: 1rem;
}
.section-social--facebook,
.section-social--twitter,
.section-social--pinterest {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 4rem;
    width: 4rem;

    border-radius: 2rem;
}

.section-social--facebook {
    background-color: #0F92F3;
}
.section-social--twitter {
    background-color: #1D9BF0;
}
.section-social--pinterest {
    background-color: #E60023;
}
/* Contact */

form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-contact {
    max-width:45rem;
    margin:auto;
    text-align:center;
}
.section-contact input[type=text],
.section-contact textarea {
    display:block;
    width:100%;
    height:4rem;
    border:0;
    background:transparent;
    border-bottom:1px solid #CCC;
    outline:0;
    margin-top:10px;
}
.section-contact textarea {
    height:10rem;
    resize:none;

    margin-bottom: 3rem;
}
.section-contact--split {
    display:flex;
    width: 100%;
}
.section-contact--split input:first-child {
    margin-right:2rem;
}
/* Map */
.section-map {
    background: url('/assets/images/mapa.jpg');
    background-size: cover;
    background-position: center;
}
.section-map--area {
    width: 100vw;
    max-width: 115rem;

    padding: 4rem 0rem;


    margin: auto;
}
.section-map--info {
    width: 50%;

    display: flex;
    flex-direction: column;

    margin: 5rem 3rem;
    padding: 4rem;

    color: var(--grey);
    background-color: var(--white);
}
.section-map--info-item {
    display: flex;
    align-items: center;
    margin-bottom: 1.5rem;
}
.section-map--info-item:last-child {
    margin-bottom: 0;

}
.section-map--icon {
    width: 3rem;
    height: 3rem;

    display: inline-flex;
    align-items: center;
    justify-content: center;

    padding: 1rem;

    border-radius: 2rem;
    background-color: var(--grey);

    margin-right: 1.5rem;
}
.section-map--icon img {
    width: 2rem;
    height: auto;
}

/* Footer */
.section-footer {
    color: var(--grey);
    display: flex;
    gap: 4rem;
}
.section-footer--box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}
.section-footer--box p {
    font-size: 1.3rem;
    font-weight: 600;
}
.section-footer--box-form {
    border-radius: 1rem;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--grey-dark);
}
.section-footer--box-form form {
    display: flex;
    gap: 2rem;
}
.section-footer--box-form form input {
    background-color: transparent;
    width: 250px;

    font-size: 1.4rem;
    font-weight: 600;

    outline: none;
    color: var(--white-medium);

    border: 0;
    border-bottom: 2px solid var(--white-medium);

    padding: 1rem;
}
.section-footer--box-form form input::placeholder {
    text-align: center;
}
.section-footer--box-social {
    display: flex;
}
.section-footer--socialbox {
    background-color: var(--grey-dark);

    display: flex;
    align-items: center;
    justify-content: center;

    margin-right: 1rem;

    width: 3rem;
    height: 3rem;
    border-radius: 1.5rem;
}
.section-footer--socialbox:hover {
    background-color: var(--primary-color);
}

/* Global adn frameworks */
.button {
    text-transform: uppercase;

    height: 4.5rem;
    width: 20rem;

    line-height: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--primary-color);
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 600;

    border-radius: 2rem;
    cursor: pointer;
}
.button:hover{
    filter: brightness(.9);
}
.button-price {
    text-transform: uppercase;

    height: 5.6rem;
    width: 20rem;

    line-height: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: var(--grey-dark);
    color: var(--white);
    font-size: 1.4rem;
    font-weight: 600;

    border-radius: 4rem;
}
.button-price:hover {
    background-color: var(--primary-color);
}

.bg-team {
    background-image: url('/assets/images/bg.jpg');
    background-size: cover;
    background-position: center;

    padding: 0;
}
.bg-grey {
    background: var(--grey-light) !important;
}

.block {
    display: block;
}